extends layout

block content
  h1 HOME
  p Products Detail with reviews

  
  img(src='./login_icon.jpg', alt='Product 1', style='width:100px;height:100px;')

  p Product Name : SHIRT
  P Description : Fit Shirt For Men 
  P Price : 500 PKR 
  P Rating : 5
  img(src='./star_icon', alt='star 1')
  img(src='./star_icon', alt='star 2')
  img(src='./star_icon', alt='star 3')
  img(src='./star_icon', alt='star 4')
  img(src='./star_icon', alt='star 5')





  
